/* Slider Section */
.slider-section {
    padding: 50px 20px; /* Reduced padding for smaller screens */
}

@media (min-width: 768px) {
    .slider-section {
        padding: 100px 80px;
    }
}

/* Text Section */
.slider-text {
    padding: 30px; /* Reduced padding for smaller screens */
}

.slider-text h2 {
    font-weight: 500;
    color: #222;
    margin-bottom: 20px;
    text-align: left;
}

@media (min-width: 768px) {
    .slider-text h2 {
        text-align: left; /* Left-align for larger screens */
    }
}

.slider-text p {
    font-size: 14px;
    line-height: 22px;
    color: #6c757d;
    margin-bottom: 20px;
    text-align: left; 
}

@media (min-width: 768px) {
    .slider-text p {
        text-align: left; /* Left-align for larger screens */
    }
}

/* Button Styles */
.slider-buttons .btn-outline-success,
.slider-buttons .btn-success {
    border-radius: 10px;
    padding: 10px;
    width: 100%; /* Full width for all screen sizes */
}

@media (min-width: 768px) {
    .slider-buttons .btn-outline-success,
    .slider-buttons .btn-success {
        width: auto; /* Auto width for larger screens */
    }
}

/* Image Section */
.slider-image img {
    width: 100%;
    height: auto;
    max-width: 300px;
    object-fit: cover;
    border-radius: 20px;
}

@media (min-width: 768px) {
    .slider-image img {
        max-width: 600px;
        height: 600px;
    }
}
